.post-tag {
  background: #000;
  color: #d3d3d3;
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 6px;
  cursor: pointer;
}

.post-tag:hover {
  color: #fff;
}

.post-tag-container {
  margin-bottom: 1rem;
}

.post-image-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
}

.post-image {
  max-height: 400px;
}

.post-list > li {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post-image {
  display: flex;
  justify-content: center;
}

.post-cover-image-container > img {
  object-fit: cover;
}

// desktop
@media (min-width: 600px) {
  .post-list > li {
    flex-direction: row;
  }
  .post-cover-image-container {
    width: 200px;
  }
}
