.post-tag {
  border: 1px solid #b7b7b7;
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 6px;
  cursor: pointer;
  & {
    border: 1px solid black;
  }
}

.post-tag-container {
  margin-bottom: 1rem;
}

.post-image-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
}

.post-image {
  max-height: 400px;
}

.post-list > li {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post-image {
  display: flex;
  justify-content: center;
}

.post-cover-image-container {
  width: 100%;
}

.post-cover-image-container > img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

// desktop
@media (min-width: 600px) {
  .post-list > li {
    flex-direction: row;
  }
  .post-cover-image-container {
    width: 200px;
  }
}
